.container {
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> upstream/main
  display: flex;
  align-items: stretch;
  gap: 16px;
  height: 42px;
<<<<<<< HEAD
=======
  z-index: 1;
>>>>>>> upstream/main
}

.total {
  align-self: center;
}

.search {
  height: 100%;
}

.orderBy {
  height: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> upstream/main
